
html, body {
  user-select: none;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

input:focus {
  outline:none;
}

a {
  text-decoration: none;
  color: inherit;
}