.button {
  cursor: pointer;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-content: center;
  font-size: 25px;
}

.button:hover {
  color: grey;
}

.button:active {
  color: lightgrey;
}

.buttonsContainer {
  padding: 30px;
  max-width: 500px;
  width: 100%;
}