.flex { display: flex; }
.fullHeight { height: 100%; }
.fullWidth { width: 100%; }
.flex { display: flex; }
.alignCenter { align-content: center; align-items: center; }
.center { justify-content: center; justify-items: center; }
.row { flex-direction: row; }
.column { flex-direction: column; }
.alignSpBetween { align-content: space-between; align-items: space-between; }
.alignSpAround { align-content: space-around; align-items: space-around; }
.justSpBetween { justify-content: space-between; justify-items: space-between; }
.justnSpAround { justify-content: space-around; justify-items: space-around; }
.absolute { position: absolute; }
.relative { position: relative; }
.clickable { cursor: pointer; }
.flex1 { display: flex; flex: 1; }
.marginTop20 { margin-top: 20px; }